<h1>Scratch Homepage</h1>

<p>Meetups for like minded people to share stock advises or to find other suppliers</p>

<a href="/logout">Log Out</a>

<ul>
  <li>hi</li>
  <li>there</li>
  <li>!</li>
</ul>

<a href="/portfolio">Portfolio</a>
<a href="/userlist">Other users</a>
