<h1>Home</h1>

<a href="/userlist">Other users</a>
<br>
<a href="/portfolio">Portfolio</a>
<br>
<a href="/logout">Log Out</a>
<br>
<p>User Controll Hub</p>
<table class="table table-bordered">
  <% companies.forEach(function(company){ %>
  <tr>
    <th rowspan="2" class="active" ><%=company.name%><br><%=company.symbol%></th>
    <th>Investment:</th>
    <th>Shares Purchased:</th>
    <th>Returns:</th>
    <td rowspan="2">
      <button type="button" name="seemore">Company Profile</button>
      <br>
      <button type="button" name="delete">Delete</button>
    </td>
  </tr>
  <tr>
    <td>USD 2000</td>
    <td><%=company.sharePurchased%></td>
    <td>USD <%=company.purchasedPrice%></td>
  </tr>
  <tr>
    <td colspan="2">Trend:</td>
    <td colspan="3">Performance:</td>
  </tr>
  <% }) %>
</table>
