<h1>Welcome to Scratch!</h1>

<p>A hub where supplies or stock investors can meet up!</p>

<form action="/home" method="post">
  <label for="email">Email</label>
  <input type="text" name="email" id="userEmail">

  <button type="submit">Join Now!</button>
</form>
