<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Scratch</title>
    <link rel="shortcut icon" href="img/favicon-16x16.png" type="image/png"/>
  </head>
  <%-body%>

  </body>
</html>
