<h1>Profile</h1>
<p>updating portfolio or updating email/password</p>
<form action="/portfolio" method="post">

  <label for="comName">Company Name</label>
  <input type="text" name="comName" id="comName" placeholder="e.g. GOOGLE">

  <label for="symbol">Symbol</label>
  <input type="text" name="comSymbol" id="comSymbol" placeholder="e.g. GOOG">

  <label for="sharePurc">Shares Purchased</label>
  <input type="tel" name="sharePurc" id="sharePurc" placeholder="e.g. 25 Shares">

  <label for="sharePrice">Purchased Price</label>
  <input type="text" name="sharePrice" id="sharePrice" placeholder="e.g. 837.17">

  <button type="submit">Update Portfolio</button>
</form>

<form action="/portfolio/<%= currentUser._id %>?_method=put" method="post">
  <label for="email">Email</label>
  <input type="text" name="emailEdit" id="userEmail" placeholder="New Email">

  <label for="password">Password</label>
  <input type="password" name="passwordEdit" id="userPassword" placeholder="New Password">

  <button type="submit">Update Profile</button>
</form>
