<h1>Scratch</h1>

<p>Connections for the Professionals</p>

<form action="/signup" method="post">

  <label for="name">Name</label>
  <input type="text" name="name" id="userName">

  <label for="email">Email</label>
  <input type="text" name="email" id="userEmail">

  <label for="password">Password</label>
  <input type="password" name="password" id="userPassword">

  <label for="password">Confirm Password</label>
  <input type="password" name="confirmPassword" id="userConPassword">

  <button type="submit">Create Account</button>
</form>
