body{
  background: url(/img/background1.jpg);
  background-size: cover;
}

.parent{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#scratch{
  font-family: 'Francois One', sans-serif;
  font-size: 7em;
}

#quote{
  font-size: 1.5em;
}

#landCont{
  align-self: center;
}
